In [37]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
from matplotlib import pyplot as plt


# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

ImportError: cannot import name 'g_key' from 'config' (/Users/juliabecker/Desktop/BootCamp/Week 6/Weather_Database./Vacation_Search  /config.py)

In [14]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Rawson,AR,-43.3002,-65.1023,61.11,62,98,16.06,overcast clouds
1,1,Saskylakh,RU,71.9167,114.0833,-23.62,94,10,8.50,clear sky
2,2,Carahue,CL,-38.7000,-73.1667,66.40,46,11,8.99,few clouds
3,3,Kahului,US,20.8947,-156.4700,76.84,83,1,11.50,clear sky
4,4,Katsuura,JP,35.1333,140.3000,60.82,73,98,24.34,light rain

In [17]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [18]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Kahului,US,20.8947,-156.4700,76.84,83,1,11.50,clear sky
6,6,Atuona,PF,-9.8000,-139.0333,78.06,78,15,14.43,light rain
8,8,Mar Del Plata,AR,-38.0023,-57.5575,84.22,55,0,13.00,clear sky
10,10,Tomatlan,MX,19.9333,-105.2500,87.49,39,0,1.21,clear sky
11,11,Rikitea,PF,-23.1203,-134.9692,72.84,67,3,7.94,clear sky
...,...,...,...,...,...,...,...,...,...,...
666,666,Palauig,PH,15.4350,119.9045,80.65,78,52,2.73,broken clouds
669,669,Kyabe,TD,9.4515,18.9449,85.91,19,47,5.30,scattered clouds
670,670,Sao Jose Da Coroa Grande,BR,-8.8978,-35.1478,83.66,62,46,10.25,scattered clouds
672,672,Sur,OM,22.5667,59.5289,75.96,50,38,10.56,scattered clouds
673,673,Banda Aceh,ID,5.5577,95.3222,78.44,83,79,8.59,broken clouds

In [19]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                4
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [20]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df=preferred_cities_df[~preferred_cities_df["Country"].isnull()]
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Kahului,US,20.8947,-156.4700,76.84,83,1,11.50,clear sky
6,6,Atuona,PF,-9.8000,-139.0333,78.06,78,15,14.43,light rain
8,8,Mar Del Plata,AR,-38.0023,-57.5575,84.22,55,0,13.00,clear sky
10,10,Tomatlan,MX,19.9333,-105.2500,87.49,39,0,1.21,clear sky
11,11,Rikitea,PF,-23.1203,-134.9692,72.84,67,3,7.94,clear sky
...,...,...,...,...,...,...,...,...,...,...
666,666,Palauig,PH,15.4350,119.9045,80.65,78,52,2.73,broken clouds
669,669,Kyabe,TD,9.4515,18.9449,85.91,19,47,5.30,scattered clouds
670,670,Sao Jose Da Coroa Grande,BR,-8.8978,-35.1478,83.66,62,46,10.25,scattered clouds
672,672,Sur,OM,22.5667,59.5289,75.96,50,38,10.56,scattered clouds
673,673,Banda Aceh,ID,5.5577,95.3222,78.44,83,79,8.59,broken clouds

In [21]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Kahului,US,76.84,clear sky,20.8947,-156.4700,
6,Atuona,PF,78.06,light rain,-9.8000,-139.0333,
8,Mar Del Plata,AR,84.22,clear sky,-38.0023,-57.5575,
10,Tomatlan,MX,87.49,clear sky,19.9333,-105.2500,
11,Rikitea,PF,72.84,clear sky,-23.1203,-134.9692,
12,Kapaa,US,70.20,few clouds,22.0752,-159.3190,
14,Salalah,OM,77.25,overcast clouds,17.0151,54.0924,
19,Mahebourg,MU,77.29,light rain,-20.4081,57.7000,
22,Dingle,PH,76.86,few clouds,10.9995,122.6711,
24,Hermanus,ZA,72.90,light rain,-34.4187,19.2345,

In [23]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame  
    lat = row["Lat"]
    lng = row["Lng"]


    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    params["location"] = f"{lat},{lng}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

NameError: name 'g_key' is not defined

In [24]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.notnull()
clean_hotel_df=hotel_df
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Kahului,US,76.84,clear sky,20.8947,-156.4700,
6,Atuona,PF,78.06,light rain,-9.8000,-139.0333,
8,Mar Del Plata,AR,84.22,clear sky,-38.0023,-57.5575,
10,Tomatlan,MX,87.49,clear sky,19.9333,-105.2500,
11,Rikitea,PF,72.84,clear sky,-23.1203,-134.9692,
...,...,...,...,...,...,...,...
666,Palauig,PH,80.65,broken clouds,15.4350,119.9045,
669,Kyabe,TD,85.91,scattered clouds,9.4515,18.9449,
670,Sao Jose Da Coroa Grande,BR,83.66,scattered clouds,-8.8978,-35.1478,
672,Sur,OM,75.96,scattered clouds,22.5667,59.5289,
673,Banda Aceh,ID,78.44,broken clouds,5.5577,95.3222,

In [25]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

FileNotFoundError: [Errno 2] No such file or directory: '../Vacation_Search/WeatherPy_vacation.csv'

In [26]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} °F</dd>
<dt>Maximum Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [27]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.75)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
# Save the figure.
plt.savefig("../Vacation_Search/WeatherPy_vacation_map.png")

FileNotFoundError: [Errno 2] No such file or directory: '../Vacation_Search/WeatherPy_vacation_map.png'